{
  "overrides": [
    {
      "files": ["src/**/*.ts", "test/**/*.ts"],
      "extends": ["google", "prettier"],
      "plugins": ["prettier"],
      "rules": {
        "prettier/prettier": "error"
      }
    }
  ]
}
